version: '3.8'

services:
  web:
    image: ghcr.io/metaconfigurator/meta_configurator:latest
    ports:
      - "80:80"    # Map port 80 on the host to port 80 in the container
      - "443:443"  # Map port 443 on the host to port 443 in the container, if using HTTPS
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    restart: unless-stopped
    depends_on:
      - mongo
      - redis
    networks:
      - app-network
    environment:
      FLASK_ENV: development
      MONGO_USER: root
      MONGO_PASS: ${MONGO_PASSWORD}
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: metaconfigurator
      REDIS_URL: redis://redis:6379/0
      REDIS_PASS: ${REDIS_PASSWORD}

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: metaconfigurator
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD} --bind 0.0.0.0
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data: