services:

  backend:
    container_name: backend
    build: .
    ports:
      - "5000:5000"
    restart: unless-stopped
    depends_on:
      - mongo
      - redis
    networks:
      - app-network
    environment:
      FLASK_ENV: development
      MONGO_USER: root
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: metaconfigurator
      REDIS_URL: redis://redis:6379/0
    env_file:
      - .env.prod

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_DATABASE: metaconfigurator
    env_file:
      - .env.prod

  redis:
    image: redis:latest
    container_name: redis
    command:
      - /bin/sh
      - -c
      # - Double dollars, so that the variable is not expanded by Docker Compose
      # - Surround by quotes, so that the shell does not split the password
      # - The ${variable:?message} syntax causes shell to exit with a non-zero
      #   code and print a message, when the variable is not set or empty
      - redis-server --requirepass "$${REDIS_PASS:?REDIS_PASS variable is not set}"
    volumes:
      - redis:/var/lib/redis/data
    restart: unless-stopped
    env_file:
    - .env.prod
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
  redis: